<h:panelGroup layout="block" rendered="#{menuBean.showMenu('ROLE_ADMIN')}" xmlns:h="http://xmlns.jcp.org/jsf/html">
    <div class="container" id="main" role="main">

        <ul class="menu">
            <li><a href="#s1">Customer</a>
                <ul class="submenu">
                    <li><a href="/web/customer/insert.xhtml">Insert</a></li>
                    <li><a href="/web/customer/update.xhtml">Update</a></li>
                    <li><a href="/web/customer/delete.xhtml">Delete</a></li>
                </ul>
            </li>
            <li class="active"><a href="#s2">Deposit</a>
                <ul class="submenu">
                    <li><a href="/web/deposit/insert.xhtml">Insert</a></li>
                    <li><a href="/web/deposit/update.xhtml">Update</a></li>
                    <li><a href="/web/deposit/delete.xhtml">Delete</a></li>
                    <li><a href="/web/deposit/deposit.xhtml">Deposit</a></li>
                    <li><a href="/web/deposit/withdraw.xhtml">Withdraw</a></li>
                    <li><a href="/web/deposit/transfer.xhtml">Transfer</a></li>
                </ul>
            </li>
            <li><a href="#">Report</a>
                <ul class="submenu">
                    <li><a href="/web/report/deposits.xhtml">Deposits</a></li>
                    <li><a href="/web/report/customer.xhtml">Customer</a></li>
                    <li><a href="/web/report/depositforacustomer.xhtml">Deposit For A Customer</a></li>
                </ul>
            </li>
            <li><a href="#">Back Up</a>
                <ul class="submenu">
                    <li><a href="/web/backup/import.xhtml">Import</a></li>
                    <li><a href="/web/backup/export.xhtml">Export</a></li>
                </ul>
            </li>
        </ul>
    </div>

</h:panelGroup>
