<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <h:outputStylesheet library="css" name="main.css"/>
</h:head>
<h:body>
    <ui:include src="/WEB-INF/menu.xhtml"/>
    <div class="ui-g-3"></div>
    <p:fieldset legend="Update Deposit" style="margin-bottom:20px" class="ui-g-6">
        <p:messages autoUpdate="true"/>
        <h:form>
            <h:panelGrid columns="2" cellpadding="5">

                <p:outputLabel value="Deposit Number :" for="depositNumber"/>
                <h:panelGrid columns="2" cellpadding="5">
                    <p:inputText required="true" id="depositNumber" value="#{depositDeleteBean.depositNumber}"
                                 validatorMessage="Value does not match pattern.">
                        <f:validateRegex pattern="^[0-9]{10}$"/>
                    </p:inputText>
                    <p:message for="depositNumber"/>
                </h:panelGrid>
                <p:commandButton icon="ui-icon-check" value="Delete" id="btn1" ajax="false"
                                 actionListener="#{depositDeleteBean.delete}"/>
            </h:panelGrid>
        </h:form>
    </p:fieldset>
    <div class="ui-g-3"></div>
</h:body>
</html>